html
{
	background-color:#b0c4de;
}


div#header,
div#file-system,
div#shell
{
	width:810px;
	height:16em;
	padding:1em;
	border:0.2em solid gray;
	margin:1em 2em;
}


div#header
{
	height: auto;
	min-height: 3em;
}

div#path-bar
{
	float:left;
	width:20em
}

div#path-bar div.path-link
{
	float:left;
	padding:0.7em;
	margin:0.4em;
	font-family:monospace;
	background-color: LightGray;
}


div#action-bar
{
	float:right;
}

div#action-bar div.action-icon
{
	float:left;
}


div#home-icon
{
	float:left;
	width:48px;
	height:48px;
	padding:0.5em;
}

div#file-system
{
	overflow-y: scroll;
	overflow-x: hidden;
}

div#file-system div.file,
div#file-system div.folder
{
	float:left;
	width: 7em;
	height: 6.5em;
	padding: 0.4em;
	margin: 0.4em;
	font-family: monospace;
	word-wrap: break-word;
}


div#file-system div.file div.icon,
div#file-system div.folder div.icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


div#file-system div.file,
div#file-system div.folder
{
	text-align: center;
	width: 6em;
}


/* Why doesn't this work? */
div.ui-selectable-helper
{
	border-color: black;
	border-style: dashed;
	border-width: thin;
}




div#file-system .ui-selecting  { background-color:#FECA40; }
div#file-system .ui-selected   { background-color:#F39814; }


div#overlay {
	left:0px;
	top:0px;
	position:fixed;
	width:100%;
	height:100%;
}

#icon-menu,
#space-menu
{
	border:1px solid #aaa;
	position:absolute;
	background:#fff;
	display:none;
	font-size:0.75em;
}

#icon-menu .menu-item span,
#space-menu .menu-item span
{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer
}

#icon-menu .menu-item span:hover,
#space-menu .menu-item span:hover
{
	background : #E0EDFE;
	cursor : 'pointer'
}

/*
#icon-menu .menu-item
#space-menu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}*/

#icon-menu .menu-separator,
#space-menu .menu-separator
{
	border-top: 1px ridge #aaa;
	margin:5px 0
}

.space-menu .submenu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}
