html
{
	background-color:#b0c4de;
}

body
{
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#gui
{
	-webkit-flex: 1;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#vt100
{
	-webkit-flex: 1;
}

div#header,
div#file-system,
div#shell
{
	padding:0.2em;
	border:0.2em solid gray;
	margin:1em;
}


div.drop-glow { background-color:#FECA40; }


div#header
{
	height: auto;
	min-height: 3em;
}

div#path-bar
{
	float:left;
	width:25em;
	height: 3em;
	margin-left:0.5em;
}

div#path-bar div.path-link
{
	float:left;
	height:  1em;
	margin-top:0.3em; margin-bottom:0.3em; margin-right:0.1em; margin-left:0.1em;
	padding-top:0.3em; padding-bottom:0.3em; padding-right:0.4em; padding-left:0.4em;
	font-size:1.1em;
	font-family:monospace;
	border-width:0.1em;
	border-style:solid;
	border-color:black;
}


div#action-bar
{
	float:right;
}

div#action-bar div.action-icon
{
	float:left;
}


div#home-icon
{
	float:left;
	width:48px;
	height:48px;
}

div#file-system
{
	/*overflow-y: scroll;
	overflow-x: hidden;*/
	-webkit-flex: 1;
}

div#file-system div.file,
div#file-system div.folder
{
	opacity: 1.0;
	float:left;
	width: 7em;
	height: 6.5em;
	padding: 0.4em;
	margin: 0.4em;
	font-family: monospace;
	word-wrap: break-word;
}


div#file-system div.file div.icon,
div#file-system div.folder div.icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


div#file-system div.file,
div#file-system div.folder
{
	text-align: center;
	width: 6em;
}


div.ui-selectable-helper
{
	border-color: black;
	border-style: dashed;
	border-width: thin;
	position: absolute;
}




div#file-system .ui-selecting  { background-color:#FECA40; }
div#file-system .ui-selected   { background-color:#F39814; }


div#overlay {
	left:0px;
	top:0px;
	position:fixed;
	width:100%;
	height:100%;
}

#icon-menu,
#space-menu
{
	border:1px solid #aaa;
	position:absolute;
	background:#fff;
	display:none;
	font-size:0.75em;
}

#icon-menu .menu-item span,
#space-menu .menu-item span
{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer
}

#icon-menu .menu-item span:hover,
#space-menu .menu-item span:hover
{
	background : #E0EDFE;
	cursor : 'pointer'
}

/*
#icon-menu .menu-item
#space-menu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}*/

#icon-menu .menu-separator,
#space-menu .menu-separator
{
	border-top: 1px ridge #aaa;
	margin:5px 0
}

.space-menu .submenu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}

/*#file-system { 	width:810px; clear: both; margin: 20px 0 10px; }*/
#file-system  .viewport { 	width:800px; height:16em; position: relative; left: 0; overflow: hidden}
#file-system  .overview { list-style: none; position: absolute; left: 0; top: 0; }
#file-system  .scrollbar{ background: transparent url("http://dwtj.me/img/bg-scrollbar-track-y.png") no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px;}
#file-system  .track { background: transparent url("http://dwtj.me/img/bg-scrollbar-trackend-y.png") no-repeat 0 100%; height: 100%; width:15px; position: relative; }
#file-system  .thumb { background: transparent url("http://dwtj.me/img/bg-scrollbar-thumb-y.png") no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#file-system  .thumb .end { background: transparent url("http://dwtj.me/img/bg-scrollbar-thumb-y.png") no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#file-system .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#path-bar  .viewport { width:25em; height:3em; position: relative; overflow: hidden}
#path-bar  .overview { list-style: none; width:25em; position: absolute; left: 0; top: 0; }
#path-bar  .scrollbar{ background: transparent url("http://dwtj.me/img/bg-scrollbar-track-x.png") no-repeat 0 0; position: relative; background-position: 0 0; float: right;}
#path-bar  .track { background: transparent url("http://dwtj.me/img/bg-scrollbar-trackend-x.png")  no-repeat 100% 0; width: 100%; height:15px; position: relative; }
#path-bar  .thumb { background: transparent url("http://dwtj.me/img/bg-scrollbar-thumb-x.png")  no-repeat 100% 50%; height: 25px; cursor: pointer; overflow: hidden; position: absolute; left: 0; top: -5px;}
#path-bar  .thumb .end { background: transparent url("http://dwtj.me/img/bg-scrollbar-thumb-x.png") no-repeat 0 50%; overflow: hidden; height: 25px; width: 5px;}
#path-bar .disable { display: none; }
