html{
	background-color:#b0c4de;
}


div#file-system,
div#shell
{
	width:60em;
	height:20em;
	padding:10px;
	border:5px solid gray;
	margin:4em;
}


div#overlay {
	left:0px;
	top:0px;
	position:absolute;
	width:100%;
	height:100%;
}

.icon-menu,
.space-menu
{
	border:1px solid #aaa;
	position:absolute;
	background:#fff;
	display:none;
	font-size:0.75em;
}

.icon-menu .menu-item span,
.space-menu .menu-item span
{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer
}

.icon-menu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}

.icon-menu .menu-separator
.space-menu .menu-separator
{
	border-top: 1px ridge #aaa;
	margin:5px 0
}
	   
.space-menu .submenu .menu-item
{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}
