div#home-icon,
div#new-file-icon,
div#new-folder-icon,
div#trash-icon,
div#logout-icon
{
	min-width: 48px;
	min-height: 48px;
	background-repeat: no-repeat;
}


div#home-icon        { background-image: url("http://dwtj.me/img/home.png"); }
div#new-file-icon    { background-image: url("http://dwtj.me/img/new-file.png"); }
div#new-folder-icon  { background-image: url("http://dwtj.me/img/new-folder.png"); }
div#trash-icon       { background-image: url("http://dwtj.me/img/trash-empty.png"); }
div#logout-icon      { background-image: url("http://dwtj.me/img/logout.png"); }

div.icon
{
	background-repeat:no-repeat;
}


div#file-system div.folder-icon,
div#file-system div.file-icon
{
	width: 48px;
	height: 48px;
}


div#file-system div.folder-icon  { background-image: url("http://dwtj.me/img/folder.png"); }
div#file-system div.file-icon    { background-image: url("http://dwtj.me/img/file.png"); }
